lrwxrwxrwx 1 root root 23 Mar 12 12:46 lib/systemd/system/sysinit.target.wants/debian-fixup.service -> ../debian-fixup.service

[Unit]
Description=Various fixups to make systemd work better on Debian
Before=var-run.mount var-lock.mount sysinit.target
After=systemd-remount-fs.service
DefaultDependencies=no
RequiresMountsFor=/var
ConditionPathIsSymbolicLink=|!/etc/mtab
ConditionPathIsSymbolicLink=|!/var/run
ConditionPathIsSymbolicLink=|!/var/lock

[Service]
ExecStart=/lib/systemd/debian-fixup
Type=oneshot
RemainAfterExit=true
